.bg-dark {
    background-color: #343a40 !important; /* Použijte tmavě šedou barvu */
    color: white; /* Bílý text */
}

main {
    padding-bottom: 28px;
    padding-top: 104px; /* Výchozí výška pro pevně umístěnou navbar */
}

.navbar {
    --bs-navbar-padding-y: 0rem;
    --bs-navbar-brand-padding-y: 0rem;
}

.navbar-nav .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    text-align: center;
    margin-top: auto;
    background-color: #f8f9fa; /* Barva pozadí zápatí */
}

/* Styl pro text ve footeru */
.text-muted {
    color: #6c757d !important; /* Barva textu pro ztlumený vzhled */
}

.clickable-row {
    cursor: pointer;
}

.loading-cursor {
    cursor: wait;
}

/* graf v modálním oknu v ročním přehledu */
.modal {
    display: none; /* Skryté ve výchozím stavu */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 900px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* zobrazení tagů */
#div_id_tags > fieldset > div {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
}

#div_id_tags > fieldset > div > form-check {
    display: flex !important;
    align-items: center !important;
    margin: 5px !important;
}

#div_id_tags > fieldset > legend {
    font-size: 1rem !important;
}
