{% extends "base_generic.html" %}

{% block content %}
<h1>Seznam účtů</h1>
<div class="d-grid gap-2 d-md-block">
    <a href="{% url 'account-add' %}" class="btn btn-primary">Přidat nový účet</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Účet</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>
                    <a href="{% url 'account-edit' account.id %}" class="btn btn-secondary btn-sm">Upravit</a>
                    <a href="{% url 'account-delete' account.id %}" class="btn btn-danger btn-sm">Smazat</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}