{% extends "base_generic.html" %}

{% block content %}
<h1>Seznam kategorií</h1>
<div class="d-grid gap-2 d-md-block">
    <a href="{% url 'category-add' %}" class="btn btn-primary">Přidat novou kategorii</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kategorie</th>
            <th>Barva</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <div style="display: inline-block; width: 25px; height: 25px; border-radius: 50%; background-color: {{ category.color }};"></div>
                </td>
                <td>
                    <a href="{% url 'category-edit' category.id %}" class="btn btn-secondary btn-sm">Upravit</a>
                    {% if not category.is_default %}
                        <a href="{% url 'category-delete' category.id %}" class="btn btn-danger btn-sm">Smazat</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}