{% extends "base_generic.html" %}
{% load custom_filters %}

{% block content %}
<h1>Souhrnné přehledy</h1>

<h2>Seznam všech transakcí</h2>
<a href="{% url 'transaction-list' %}" class="btn btn-primary">Veškeré transakce a filtrování</a>

<h2>Souhrnné přehledy podle období</h2>

<!-- Seznam roků -->
<div class="years">
    {% for year in years %}
        <div class="year-item mb-4">
            <h3>{{ year.year }}</h3>

            <!-- Rozbalovací menu pro jednotlivé měsíce -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                    Zobrazit jednotlivé měsíce
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                    {% for date in months_years %}
                        {% if date.year == year.year %}
                            <li>
                                <a class="dropdown-item" href="{% url 'month-detail' date.year date.month %}">
                                    {{ date.month|format_month_cs }}
                                    <!-- přeloženo pomocí custom_filers.py -->
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Tlačítko "Zobrazit statistiku transakcí" -->
            <a href="{% url 'year-detail' year.year %}" class="btn btn-primary mt-2">Zobrazit roční statistiku transakcí</a>
        </div>
    {% endfor %}
</div>

{% endblock %}