{% extends "base_generic.html" %}

{% block content %}
    <h1>Detail transakce</h1>
    <p><strong>Datum:</strong> {{ transaction.datestamp }}</p>
    <p><strong>Kategorie:</strong> {{ transaction.category.name }}</p>
    <p><strong>Popis:</strong> {{ transaction.description }}</p>
    <p><strong>Částka:</strong> 
        {% if transaction.adjusted_amount < 0 %}
            <span class="text-danger">-{{ transaction.amount }} CZK</span>
        {% else %}
            <span class="text-success">{{ transaction.amount }} CZK</span>
        {% endif %}
    </p>
    <!-- Přidat další informace nebo akce, například tlačítka pro úpravy nebo smazání -->
{% endblock %}
