{% extends "base_generic.html" %}

{% block content %}
<h1>Roční souhrn za {{ year }}</h1>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Celkové roční příjmy</h5>
                <p class="card-text text-success">{{ total_income|floatformat:2 }} CZK</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Celkové roční výdaje</h5>
                <p class="card-text text-danger">{{ total_expense|floatformat:2 }} CZK</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Celková roční bilance</h5>
                <p class="card-text">
                    {% if total_balance > 0 %}  <!-- Obarvení částky příjem vs výdaj -->
                        <span class="text-success">{{ total_balance|floatformat:2 }} CZK</span>
                    {% else %}
                        <span class="text-danger">{{ total_balance|floatformat:2 }} CZK</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kategorie</th>
            <th>Celková roční bilance</th>
            <th>Průměrná měsíční bilance</th>
            {% for month in months %}
                <th>{{ month|date:"F" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for category in category_summaries %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    {% if category.total > 0 %}  <!-- Obarvení částky příjem vs výdaj -->
                        <span class="text-success">{{ category.total|floatformat:2 }} CZK</span>
                    {% else %}
                        <span class="text-danger">{{ category.total|floatformat:2 }} CZK</span>
                    {% endif %}
                </td>
                <td>
                    {% if category.monthly_average > 0 %}  <!-- Obarvení částky příjem vs výdaj -->
                        <span class="text-success">{{ category.monthly_average|floatformat:2 }} CZK</span>
                    {% else %}
                        <span class="text-danger">{{ category.monthly_average|floatformat:2 }} CZK</span>
                    {% endif %}
                </td>
                <!-- Blok pro zobrazení měsíčních bilancí -->
                {% for month in months %}
                    {% with monthly_balances|dictsort:"month" as monthly_balance %}
                        {% for mb in monthly_balance %}
                            {% if mb.id == category.id and mb.month == month %}
                                <td>{{ mb.monthly_total|floatformat:2 }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
                <!-- Konec bloku pro měsíční bilance -->
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'dashboard' %}" class="btn btn-primary">Zpět na dashboard</a>
{% endblock %}
